{% extends "layout.html" %}
{% block body %}

  {% if error %}
  <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Error!</h4>
      {{ error }}
  </div>
  {% endif %}
<h2>Account settings</h2>

 <ul class="nav nav-tabs">
    <li {% if sel_tab==1 %}class="active"{% endif %}><a href="#tab1" data-toggle="tab">Basic Settings</a></li>
    <li {% if sel_tab==2 %}class="active"{% endif %}><a href="#tab2" data-toggle="tab">Change Password</a></li>
</ul>

  <div class="tab-content">
    <div class="tab-pane {% if sel_tab==1 %}active{% endif %}" id="tab1">
			<form class="form-horizontal" method="post" enctype="multipart/form-data" name="account_settings">
				{{form.hidden_tag()}}
				<div class="form-group" style="padding-top: 20px">
					<label class="control-label col-md-2" for="{{ form.username.id }}">{{ form.username.label }}</label>
					<div class="col-md-2">
						{{ form.username(class="form-control") }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2" for="{{ form.email.id }}">{{ form.email.label }}</label>
					<div class="col-md-2">
						{{ form.email(class="form-control") }}
					</div>
				</div>
				<div class="form-group">
                    <div class="col-md-2"></div>
					<div class="col-md-2">
						{{ form.submit_basic(class="btn btn-default") }}
					</div>
				</div>	
			</form>
		</div>

    <div class="tab-pane {% if sel_tab==2 %}active{% endif %}" id="tab2">
			<form class="form-horizontal" method="post" enctype="multipart/form-data" name="account_settings_pass">
				{{formpass.hidden_tag()}}
				<div class="form-group" style="padding-top: 20px">
					<label class="control-label col-md-2" for="{{ formpass.password.id }}">{{ formpass.password.label }}</label>
					<div class="col-md-2">
						{{ formpass.password(class="form-control") }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2" for="{{ formpass.newpassword.id }}">{{ formpass.newpassword.label }}</label>
					<div class="col-md-2">
						{{ formpass.newpassword(class="form-control") }}
					</div>
				</div>
				<div class="form-group">
                    <div class="col-md-2"></div>
					<div class="col-md-2">
						{{ formpass.submit_pass(class="btn btn-default") }}
					</div>
				</div>	
			</form>
		</div>
		
	</div>
				
{% endblock %}