{% extends "layout.html" %}
{% block body %}

  <h2>{% if edit %}Edit game data{% else %}Add a new game{% endif %}</h2>
  {% if error %}
  <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Error!</h4>
      {{ error }}
  </div>
  {% endif %}

{% if not edit %}
<div class="well">
	<button class="close pull-right" type="button" data-toggle="collapse" data-target="#notice">&times;</button>
	  <p>This form lets you add a game to <a href="http://www.renai.us/" target="_blank">renai.us</a> and/or <a href="http://games.renpy.org/" target="_blank">games.renpy.org</a>.</p>
	<div class="collapse" id ="notice">
  {#<button type="button" class="close" data-dismiss="alert">&times;</button>#}
<p>The two sites share the same database, you'll only have to add your game once to have it show up on both sites.</p>	

  <p><strong class="text-error">Only complete games should be added.</strong> We do not accept works-in-progress. There must be something substantial available for download before a game is added. While we might accept an "Episode" or "Act" of a game, this isn't the place to write about a game with nothing available. You may want to try the <a href="http://lemmasoft.renai.us/forums/viewforum.php?f=16" target="_blank">Lemma Soft Forums works-in-progress section</a>.</p>
  <p>
  Your game will show up on renai.us if:
  <ul>
    <li>It's free for us to redistribute.</li>
    <li>It does not use any materials that are copyrighted by someone else.</li>
      <ul><li>Exception: A fanfic can use characters that are copyrighted.</li></ul>
    <li>It's written in English.</li>
    <li>You check the "renaius" box below, indicating that you're complying with these terms.</li>
  </ul>
  Your game will show up on renpy.org if:
  <ul>
    <li>It was made with the <a href="http://www.renpy.org/" target="_blank">Ren'Py visual novel engine</a>.</li>
  </ul>
  </p>
  <p>Games must be approved by a moderator before they show up on the site. This might take a couple of days, depending on how busy we are.</p>
	</div>
</div>
{% endif %}

<form method="post" class="form-horizontal" role="form">
	{{ form.hidden_tag() }}
   
    <div class="form-group {% if form.game_title.errors %} has-error has-feedback{% endif %}">
        <label class="control-label col-md-4" for="focusedInput">{{ form.game_title.label }}</label>       
        <div class="col-md-4">
            <input class="form-control" id="focusedInput" name="{{ form.game_title.name }}" type="text" value="{{ form.game_title.data }}" autofocus>
            {% if form.game_title.errors %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>{% endif %}
        </div>
        {% if form.game_title.errors %}<span class="help-inline text-danger">{% for error in form.game_title.errors %}<strong><span class="glyphicon glyphicon-asterisk"></span> {{ error }}</strong><br />{% endfor %}</span>{% endif %}
        <div class="col-md-4"><span class="help-block">{{ form.game_title.description }}</span></div>
    </div>

{% if not edit %}
    <div class="form-group {% if form.slug.errors %} has-error has-feedback{% endif %}">
        <label class="control-label col-md-4" for="{{ form.slug.id }}">{{ form.slug.label }}</label>
            <div class="col-md-4">			
                {{ form.slug(placeholder="the-game-title", class="form-control") }}
                {% if form.slug.errors %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>{% endif %}
            </div>
            {% if form.slug.errors %}
                <span class="help-inline text-danger">{% for error in form.slug.errors %}<strong><span class="glyphicon glyphicon-asterisk"></span> {{ error }}</strong><br />{% endfor %}</span>
            {% endif %}
            <div class="col-md-4"><span class="help-block">{{ form.slug.description }}</span></div>
    </div>
{% endif %}

    <div class="form-group  {% if form.homepage_link_url.errors %} has-error has-feedback{% endif %}">
        <label class="control-label col-md-4" for="{{ form.homepage_link_url.id }}">{{ form.homepage_link_url.label }}</label>
        <div class="col-md-4">
			{{ form.homepage_link_url(class="form-control") }}
            {% if form.homepage_link_url.errors %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>{% endif %}
        </div>
        {% if form.homepage_link_url.errors %}
            <span class="help-inline text-danger">{% for error in form.homepage_link_url.errors %}<strong><span class="glyphicon glyphicon-asterisk"></span> {{ error }}</strong><br />{% endfor %}</span>
        {% endif %}
        <div class="col-md-4"><span class="help-block">{{ form.homepage_link_url.description }}</span></div>    
    </div>
    
    <div class="form-group  {% if form.creator.errors %} has-error has-feedback{% endif %}">
        <label class="control-label col-md-4" for="{{ form.creator.id }}">{{ form.creator.label }}</label>
        <div class="col-md-4" id="developers">
            <input id="{{ form.creator.id }}" class="typeahead form-control" name="{{ form.creator.name }}" type="text" autocomplete="off">
            {% if form.creator.errors %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>{% endif %}
            {% for subfield in form.creator_type %}
                <label class="radio-inline">
                    {{ subfield }} {{ subfield.label }}
                </label>
            {% endfor %}
        </div>
        
        {% if form.creator.errors %}
            <span class="help-block">{% for error in form.creator.errors %}<strong><span class="glyphicon glyphicon-asterisk"></span> {{ error }}</strong><br />{% endfor %}</span>
        {% endif %}
        <div class="col-md-4"></div><div class="col-md-4"><span class="help-block">{{ form.creator.description }}</span></div>
    </div>

  <div class="form-group  {% if form.description_.errors %} has-error has-feedback{% endif %}">
    <label class="control-label col-md-4" for="{{ form.description_.id }}">{{ form.description_.label }}</label>
    <div class="col-md-4">			
			{{ form.description_(class="form-control", rows="12") }}
            {% if form.description_.errors %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>{% endif %}
    </div>
				{% if form.description_.errors %}
					<span class="help-inline text-danger">{% for error in form.description_.errors %}<strong><span class="glyphicon glyphicon-asterisk"></span> {{ error }}</strong><br />{% endfor %}</span>
				{% endif %}
			<div class="col-md-4"><span class="help-block">{{ form.description_.description }}</span></div>
    
  </div>

    <div class="form-group  {% if form.age_rating_id.errors %} has-error{% endif %}">
        <label class="control-label col-md-4" for="{{ form.age_rating_id.id }}">{{ form.age_rating_id.label }}</label>
        <div class="col-md-3">
            {% for subfield in form.age_rating_id %}
                <label class="radio-inline">
                    {{ subfield }} {{ subfield.label }}
                </label>
            {% endfor %}
        </div>
            {% if form.age_rating_id.errors %}
                <span class="help-inline text-danger">{% for error in form.age_rating_id.errors %}<strong><span class="glyphicon glyphicon-asterisk"></span> {{ error }}</strong><br />{% endfor %}</span>
            {% endif %}
        
        <div class="col-md-4"><span class="help-block">{{ form.age_rating_id.description|safe }}</span></div>
    </div>


    <div class="form-group  {% if form.categories.errors %} has-error{% endif %}">
        <label class="control-label col-md-4" for="{{ form.categories.id }}">{{ form.categories.label }}</label>
        <div class="col-md-4">
            {% for subfield in form.categories %}
                <label class="checkbox-inline" style="width: 160px;">
                    {{ subfield }} {{ subfield.label }}
                </label>
            {% endfor %}
        </div>
        {% if form.categories.errors %}
            <span class="help-inline text-danger">{% for error in form.categories.errors %}<strong><span class="glyphicon glyphicon-asterisk"></span> {{ error }}</strong><br />{% endfor %}</span>
        {% endif %}
        <div class="col-md-4"><span class="help-block">{{ form.categories.description|safe }}</span></div>
    </div>

	
    <div class="form-group  {% if form.words.errors %} has-error{% endif %}">
        <label class="control-label col-md-4" for="{{ form.words.id }}">{{ form.words.label }}</label>
        <div class="col-md-2">			
            {{ form.words(class="form-control") }}
            {% if form.words.errors %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>{% endif %}
        </div>
        {% if form.words.errors %}
            <span class="help-inline text-danger">{% for error in form.words.errors %}<strong><span class="glyphicon glyphicon-asterisk"></span> {{ error }}</strong><br />{% endfor %}</span>
        {% endif %}
        <div class="col-md-4"><span class="help-block">{{ form.words.description }}</span></div>
    </div>

    <div class="form-group  {% if form.playtime.errors %} has-error has-feedback{% endif %}">
        <label class="control-label col-md-4" for="{{ form.playtime.id }}">{{ form.playtime.label }}</label>
        <div class="col-md-2">
			{{ form.playtime(class="form-control") }}
            {% if form.words.errors %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>{% endif %}
			{% for subfield in form.playtime_unit %}
            <label class="radio-inline">
                {{ subfield(onclick="changeHoursMins()") }} {{ subfield.label }}
			</label>
			{% endfor %}
</div>
				{% if form.playtime.errors %}
					<span class="help-inline text-danger">{% for error in form.playtime.errors %}<strong><span class="glyphicon glyphicon-asterisk"></span> {{ error }}</strong><br />{% endfor %}</span>
				{% endif %}
			<div class="col-md-4"><span class="help-block">{{ form.playtime.description }}</span></div>
    
    </div>
	
    {% if not edit %}
        {% include 'release_form.html' %}
        {{ form.release_description(class="form-control") }}
        
        <div class="form-group  {% if form.playtime.errors %} has-error has-feedback{% endif %}">
            <label class="control-label col-md-4" for="{{ form.listed_on.id }}">{{ form.listed_on.label }}</label>
            <div class="col-md-2">
                <label class="checkbox-inline">{{ form.listed_on }} Yes</label>
            </div>
            {% if form.listed_on.errors %}
                <span class="help-inline text-danger">{% for error in form.listed_on.errors %}<strong><span class="glyphicon glyphicon-asterisk"></span> {{ error }}</strong><br />{% endfor %}</span>
            {% endif %}
            <div class="col-md-4"><span class="help-block">{{ form.listed_on.description }}</span></div>
        </div>
    {% endif %}

    <div class="form-actions">
        <div class="col-md-4"></div>
        <button type="submit" class="btn btn-primary">{% if not edit %}Submit Game{% else %}Submit Changes{% endif %}</button>
    </div>
</form>


{% endblock %}