{% extends "layout.html" %}
{% block body %}
<h2>Add Release to {{ game.game_title }}</h2>
{% if error %}
<div class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4>Error!</h4>
		{{ error }}
</div>
{% endif %}

<form method="post" class="form-horizontal">
    {{ form.hidden_tag() }}
    {% include 'release_form.html' %}

    <div class="form-group{% if form.release_description.errors %} has-error{% endif %}">
        <label class="control-label col-md-4" for="{{ form.release_description.id }}">{{ form.release_description.label }}</label>
        <div class="col-md-4">
        {{ form.release_description(class="form-control", rows="3") }}
        </div>
            {% if form.release_description.errors %}
                <span class="help-inline  text-danger">{% for error in form.release_description.errors %}<strong>{{ error }}</strong><br />{% endfor %}</span>
            {% endif %}
        <div class="col-md-4"><span class="help-block">{{ form.release_description.description }}</span></div>
    </div>

    <div class="form-actions">
        <div class="col-md-4"></div>
        <button type="submit" class="btn btn-primary">Add Release</button>
    </div>
</form>

{% endblock %}