{% extends "layout.html" %}
{% block body %}
<div class="inner_page">
  <h2>Screenshots for {{ game.game_title }}</h2>
  {% if error %}
  <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Error!</h4>
      {{ error }}
  </div>
  {% endif %}

<div>

{% for screenshot in game.screenshots %}

      
    <div style="float: left; padding-right: 20px;">
      
        <div style="padding-bottom: 20px;">
            {% if screenshot.filename[:11]=="screenshot/" %}
                <a href="http://renai.us/site_media/media/screenshot/{{ screenshot.filename[11:] }}" title=" {{ screenshot.caption }}"><img src="http://renai.us/site_media/media/screenshot/{{ screenshot.filename[11:] }}" width="240" alt="{{ screenshot.caption}} " /></a>
            {% else %}
                <a href="{{ url_for('image_normal', filename=screenshot.filename) }}" title=" {{ screenshot.caption }}"><img src="{{ url_for('image_small', filename=screenshot.filename) }}" width="240" alt="{{ screenshot.caption}} " /></a>
            {% endif %}
        </div>  

        <div>
            {% if g.user.role==1 or g.user.role==2 %}
            

                {% if not screenshot.approved %}<a class="btn btn-default" href="{{ url_for('approve_screenshot', id=screenshot.id, slug=game.slug) }}">Approve</a>{% endif %}

            
                <script>
                function deleteConfirm{{ screenshot.id }}() {
                    if (confirm("Delete this screenshot?") == true) {
                        window.location.href = "{{ url_for('delete_screenshot',slug=game.slug,id=screenshot.id) }}";
                    }
                }
                </script>
                {% if screenshot.filename[:11]=="screenshot/" %}
                    <a href="#" onclick="deleteConfirm{{ screenshot.id }}()" class="btn btn-danger">Delete</a>
                {% else %}
                    <a href="#" onclick="deleteConfirm{{ screenshot.id }}()" class="btn btn-danger">Delete</a>
                {% endif %}
                
                <form action="{{ url_for('set_thumbnail', slug=game.slug, id=screenshot.id) }}" method="post">
                    <input onChange="this.form.submit();" type="radio" name="set_thumbnail" value="{{ screenshot.id }}" id="{{ screenshot.id }}" {% if screenshot.is_thumb %}checked="true"{% endif %} /><label for="{{ screenshot.id }}">Set thumbnail</label>
                </form>
                
            {% endif %}
        </div>
    </div>

{% endfor %}	  
</div>
  
  <div class="clearfix"></div>
  
<form method="post" class="form" enctype="multipart/form-data">
  <fieldset>
    <legend>Add a screenshot to {{ game.game_title }}</legend>
    <label>Choose a file</label>
    <input type="file" name="file">
    <span class="help-block">Select an image file to upload from your hard drive (.jpg or .png).</span>
    <label>Caption</label>
    <input type="text" name="caption">
    <span class="help-block">Caption for this image (optional).</span>
    <label class="checkbox">
  	  <input type="checkbox" name="is_thumb" id="is_thumb_y" value="1" {% if is_thumb %}checked{% endif %} > Use this image as a thumbnail.
    </label>
    <button type="submit" class="btn btn-primary">Upload Image</button>
  </fieldset>
</form>

</form>
</div>

{% endblock %}