{% for game in games %}
<div class="pull-right">
    <ul style="list-style-type: none;">
        <li class="col-md-12;">
            {% if game.screenshot and not game.age_rating.is_adult %}
                {% if game.screenshot.approved %}
                    <a href="{{ url_for('game_details',game_slug=game.slug) }}">
                        {% if game.screenshot.filename[:11]=="screenshot/" %}
                            <img class="img-thumbnail" src="http://renai.us/site_media/media/screenshot/small/{{ game.screenshot.filename[11:] }}"  xwidth="240" alt="{{ game.game_title }} thumbnail"/>
                        {% else %}
                            <img class="img-thumbnail" src="{{ url_for('image_small', filename=game.screenshot.filename) }}"  width="240" alt="{{ game.game_title }} thumbnail"/>
                        {% endif %}
                    </a>
                {% endif %}
            {% endif %}
            <div style="padding: 5px; text-align: center;">
                <a href="{{ url_for('game_details',game_slug=game.slug) }}" class="btn btn-info">More info and downloads</a>
            </div>

        </li>
    </ul>
</div>

<h1><a href="{{ url_for('game_details',game_slug=game.slug) }}">{{ game.game_title }}</a></h1>
<h2 style="font-size: 140%;">{% if game.developer_id %}
{{ game.developer.name }}
{# <a href="{{ url_for('developer_info', developer=game.developer_id) }}">{{ game.maker }}</a>  #}
{% else %}
{{ game.maker }}
{% endif %}{% if game.link.url %} &bull; <a href="{{ game.link.url }}" rel="tooltip" style="white-space: nowrap;" title="{{ game.link.url }}">{{ game.link.name }}</a>{% endif %}</h2>

<p>{{ game.description }}</p>

<p style="font-size: 130%;">
{{ game.releases[0].release_date.strftime('%b %d, %Y') }} &bull;
{% if game.playtime > 0%}
	{% if game.playtime>60 %}
  	{{ "%.2f"|format(game.playtime/60) }} hours
	{% else %}
		{{ game.playtime }} minutes
	{% endif %}
&bull;{% endif %}
{% if game.playtime == -1 %}{{ game.temp_playtime }} &bull;{% endif %}
{% if game.words %}{{ '{:,}'.format(game.words) }} words &bull;{% endif %}
<span {% if game.age_rating.is_adult %}class="label label-danger"{% endif %}>{% if not game.age_rating.id == 1 %}Ages {% endif %}{{ game.age_rating.name}}</span>
</p>

<p>
{% for cat in game.categories %}
<a class="badge badge-info" href="{{ url_for('show_entries', filter=cat.categories.slug) }}">{{ cat.categories.name }}</a>{% if not loop.last %} {% endif %}
{% endfor %}
</p>

<div class="clearfix"></div>
<hr />
{% else %}
	<em>Unbelievable. No entries here.</em>
{% endfor %}
